################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KikiDeliveryTimeEstimator.Console/.vs
/KikiDeliveryTimeEstimator.Console/bin/Debug/net8.0
/KikiDeliveryTimeEstimator.Console/obj
/KikiDeliveryTimeEstimator.Tests/bin
/KikiDeliveryTimeEstimator.Tests/obj
